<html>
<head>
  <title>Company Employment System</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/profile.css"></head>

  <style>
 
  button[type=button]:hover {
    background-color: #1ebfd4;}

  input[placeholder] {
    text-align: center}


  button[type=submit] {
    width: 23%;
    background-color: #1ebfd4;
    color: white;
    padding: 10px 20px;
    margin-top: 1%;
    border: none;
    border-radius: 90px;
    cursor: pointer;
    margin-bottom: 2%;}



  button[type=submit]:hover {
    background-color: #45a049;}


    

  </style>
 
<body>
  <nav>
  
    <ul>
        




     





    <form class="form">
       

       


      <br><br><hr><br>

      <label style="font-size: 1.80vw;">Fullname: </label> 
      <label style="padding-left:11%; font-size: 1.80vw; font-family: 'Dancing Script', cursive;"> </label>
      <br><br><hr><br>
      

      <label style="font-size: 1.80vw;">Date of birth: </label> 
      <label style="padding-left:11%; font-size: 1.80vw; font-family: 'Dancing Script', cursive;"> </label>
      <br><br><hr><br>

      

      <label style="font-size: 1.80vw;">Age: </label> 
      <label style="padding-left:11%; font-size: 1.80vw; font-family: 'Dancing Script', cursive;"> </label>
      <br><br><hr><br>

      <label style="font-size: 1.80vw;">Address: </label> 
      <label style="padding-left:11%; font-size: 1.80vw; font-family: 'Dancing Script', cursive;"> </label>
      <br><br><hr><br>


      <label style="font-size: 1.80vw;">Status: </label> 
      <label style="padding-left:11%; font-size: 1.80vw; font-family: 'Dancing Script', cursive;"> </label>
      <br><br><hr><br>

      <label style="font-size: 1.80vw;">Primary Level: </label> 
      <label style="padding-left:11%; font-size: 1.80vw; font-family: 'Dancing Script', cursive;"> </label>
      <br><br><hr><br>

      <label style="font-size: 1.80vw;">Secondary Level: </label> 
      <label style="padding-left:11%; font-size: 1.80vw; font-family: 'Dancing Script', cursive;"> </label>
      <br><br><hr><br>

      <label style="font-size: 1.80vw;">College: </label> 
      <label style="padding-left:11%; font-size: 1.80vw; font-family: 'Dancing Script', cursive;"> </label>
      <br><br><hr><br>

      

    </form>
    <form class="form" style="text-align: center;">
      
      <br><br><br><button style="width: 20%;
    background-color: #1e87c4;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 90px;
    cursor: pointer;">Done</button><br><br><br>
    </form>

<br><br><br><br><br><br><br><br>



</body>


</html>
